*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}
.header{
    width: 100%;
    height: 182px;
    display: block;
    background-color: black;
    top:0;
    position: fixed;
}
.inner_header{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: black;
}
.inner_header .logoimage{
    padding: 10px;
    float: left;
    height: 100%;
    display: block;
}
.inner_header .header_third:last-child{
    margin-right: 0;
    padding-right: 0;
}
.navigation{
    float: left;
    height: 100%;
    margin-right: 0;
    padding-right: 0;
}
.navigation a{
    height: 100%;
    display: inline-flex;
    float: left;
    padding-left: 30px;
}
.navigation a:first-child{
    padding-left: 100px;
}
.buttons
.navigation a li{
    height: 100%;
    padding-top: 130px;
    font-family: "Impact";
    color: #750707;
    font-size: 35px;
}
.container{
    float: right;
    marging-right: 20px;
}

            /*LOGIN-BUTTON*/

.login {
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:linear-gradient(to bottom, #750707 5%, #000000 100%);
    background-color:#750707;
    border-radius:60px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Calibri;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
    margin-top: 130px;
}
.login:hover {
    background:linear-gradient(to bottom, #000000 5%, #750707 100%);
    background-color:#000000;
}
.login:active {
    position:relative;
    top:1px;
}


            /*Shopping Cart2*/

.shopping {
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:linear-gradient(to bottom, #750707 5%, #000000 100%);
    background-color:#750707;
    border-radius:60px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Calibri;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
    margin-top: 130px;
}
.shopping:hover {
    background:linear-gradient(to bottom, #000000 5%, #750707 100%);
    background-color:#000000;
}
.shopping:active {
    position:relative;
    top:1px;
}
.cartimage{
    height: 20px;
    width: 20px;
    padding-top: 5px;
    background-color: white;
    color: white;
}



            /*SEARCH-BAR*/

.container {
    width: 90px;
    height: 15px;
    padding-left: 40px;
    padding-top: 120px;
    padding-right: 40px;
}
.form {
    display: flex;
    flex-direction: row;
}
.search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 60px;
    margin-top: 0px;
    outline: none;
}
.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}
.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}


            /*FOOTER*/

.footer {
    border-top: darkgrey 2px solid;
    background-color: black;
    width: 100vw;
    padding: 20px 0;
    display: block;
    overflow: hidden;

}
.inner_footer{
    display: block;
    margin: 0 auto;
    width: 100vw;
    height: 100%;
}
.inner_footer .footer-image{
    float: left;
    height: 100%;
    display: block;
    margin-right: 30px;
}
.inner_footer .footer_third{
    width:calc(21.6666667% - 20px);
    float: left;
    height: 100%;
    margin-right: 10px;
}
.inner_footer .footer_third:last-child{
    margin-right: 0;
}
.inner_footer .footer_third h1{
    font-family:"Arial Black";
    font-size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.inner_footer .footer_third a{
    font-family: Calibri;
    font-size: 18px;
    color: white;
    display: block;
    width: 100%;
}
.inner_footer .footer_third li{
    padding: 0 5px;
    font-size: 20px;
    display: block;
}


            /*RESPONSIVE*/

@media screen and (max-width: 768px) {
    .bloodimage{
        display: none;
    }
.header .inner_header{
    width: 100%;
    margin-top: 30px;
}
.inner_header .logoimage,
.inner_header .header_third{
    width: 100%;
}
.footer .inner_footer{
    width: 90%;
}
.inner_footer .footer-image,
.inner_footer .footer_third{
    width: 100%;
    margin-bottom: 30px;
}

}
