*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.navigation .bloodimage{
    background: url("resources/cube.png") top right no-repeat;
    background-size: 111px;
}
.header{
    width: 100%;
    height: 210px;
    display: block;
    background-color: black;
    top:0;
    position: fixed;
    z-index: 999;
}
.inner_header{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: black;
}
.inner_header .logoimage{
    padding: 10px;
    float: left;
    height: 100%;
    display: block;
}
.inner_header .header_third:last-child{
    margin-right: 0;
    padding-right: 0;
}
.navigation{
    float: left;
    height: 100%;
    margin-right: 0;
    padding-right: 0;
}
.navigation li{
    height: 100%;
    display: inline-flex;
    float: left;
    padding-left: 30px;
    font-family: "Guttenberg MF", fantasy;
    font-weight: bolder;
    font-size: 50px;
    padding-top: 27px;
}
.navigation li:first-child{
    padding-left: 100px;
}
.navigation li a{
    height: 100%;
    color: #750707;
}
.navigation a:first-child{
    padding-top: 110px;
}
.buttons{
    padding-top: 10px;
    color: white;
}
.shopping{
    color: white;
}
.footer-image{
    width: 200px;
    height: 80px;
}

/*LOGIN-BUTTON*/

.login {
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:linear-gradient(to bottom, #750707 5%, #000000 100%);
    background-color:#750707;
    border-radius:60px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Calibri;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
    margin-top: 134px;
    margin-left: 70px;
}
.login a{
    color: white;
}
.login:hover {
    background:linear-gradient(to bottom, #000000 5%, #750707 100%);
    background-color:#000000;
}
.login:active {
    position:relative;
    top:1px;
}


/*Shopping Cart2*/

.shopping {
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:linear-gradient(to bottom, #750707 5%, #000000 100%);
    background-color:#750707;
    border-radius:60px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Calibri;
    font-size:15px;
    font-weight:bold;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
    margin-top: 133px;
    margin-left: 10px;
    position: fixed;
}
.shopping a{
    color: white;
    display: inline-flex;
}
.shopping:hover {
    background:linear-gradient(to bottom, #000000 5%, #750707 100%);
    background-color:#000000;
}
.shopping:active {
    position:relative;
    top:1px;
}
.cartimage{
    height: 20px;
    width: 20px;
    padding-top: 5px;
    padding-left: 5px;
}



/*SEARCH-BAR*/

.container {
    width: 250px;
    height: 15px;
    padding-left: 20px;
    padding-top: 145px;
    padding-right: 10px;
    float: right;
    margin-right: 20px;
}
.form {
    display: flex;
    flex-direction: row;
}
.search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 60px;
    margin-top: 0px;
    outline: none;
}
.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}
.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}


/*FOOTER*/

.footer {
    border-top: darkgrey 2px solid;
    background-color: black;
    width: 100vw;
    padding: 20px 0;
    display: block;
    overflow: hidden;
    background-image: url("https://64.media.tumblr.com/b3fa7fdcf60b41e17aeb20848913e199/tumblr_pmd6e6Ol7y1runoqyo6_r1_540.gifv");
    background-size: cover;
}

.inner_footer{
    display: block;
    margin: 0 auto;
    width: 100vw;
    height: 100%;
}
.inner_footer .footer-image{
    float: left;
    height: 100%;
    display: block;
    margin-right: 40px;
}
.inner_footer .footer_third{
    width:calc(21.6666667% - 20px);
    float: left;
    height: 100%;
    margin-right: 10px;
}
.inner_footer .footer_third:last-child{
    margin-right: 0;
}
.inner_footer .footer_third h1{
    font-family: "";
    font-size: 20px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 16px;
}
.inner_footer .footer_third a{
    font-family: "Calibri Light";
    font-size: 16px;
    color: white;
    display: block;
    width: 100%;
    padding: 0 5px;

}
/*.inner_footer .footer_third li{

}*/


/*RESPONSIVE*/

@media screen and (max-width: 768px) {
    .bloodimage{
        display: none;
    }
    .header{
        height: 250px;
        margin:0;
        padding: 0;
        display: block;
    }
    .header .inner_header{
        width: 100%;
        margin:0;
        padding: 0;
        display: block;
    }
    .inner_header .logoimage{
        position: static;
        margin-top:20px;
    }
    .navigation{
        margin:0;
        padding: 0;
    }
    .navigation a{
        margin:0;
        padding-top: 60px;
        padding-left: 10px;
        font-size: medium;
    }
    .navigation a:first-child{
        padding-left: 15px;
    }
    .buttons{
        right: 0;

    }
    .login{

        width: 60px;
        padding: 5px 5px;
        margin: 5px;
        margin-left: 80px;

    }
    .shopping{
        float: top;
        width: 140px;
        padding: 5px 5px;
        margin: 5px 5px;
    }
    .shopping .cartimage{
        display: none;
    }
    .container{
        width: 150px;
        float: right;
        margin-top: 20px;

    }


    .footer .inner_footer{
        width: 90%;
    }
    .inner_footer .footer-image{
        display: none;
    }
    .inner_footer .footer_third{
        width: 100%;
        margin-bottom: 30px;
    }
    .inner_footer .footer_third h1{
        font-size: 15px;
        color: #750707;
    }
}
