*{
    margin: 0;
    box-sizing: border-box;
}
.title{
    color: white;
}
main{
    top:250px;
    left: 150px;
    padding:10px;
    position: absolute;

    color: whitesmoke;
}
.popup{
    position: fixed;
    top:50%;
}
.video1{
    float:top;
    width: 1200px;
    height:400px;
    margin-left: 100px;


}