*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100%;
    top:250px;
    left: 10px;
    background-color: black;
    color: whitesmoke;
    position: absolute;

}
main{
    padding: 0 70px;
    color: white;

    display: block;
    margin: 50px;
    align-content: center;

}
.button_login{
    background-color: #ea4335;
    color: white;
    height: 54px;
    width:453px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    position: relative;
    text-align: center;
    text-indent: 180px;
    margin-bottom: 10px;
    display: flex !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    font-weight: 400;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}