
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100%;
    top:250px;
    left: 10px;
    background-color: black;
    color: whitesmoke;
    position: absolute;

}
main{
    padding: 0 70px;
    color: white;

    display: block;
    margin: 50px;
    align-content: center;

}

h3{
    position: relative;
    left: 300px;
    width: 600px;
    text-align: center;
    padding: 10px;
    color: lightgray;
    font-size: 20px;
    margin-right: 100px;
}
h4{
    color: dodgerblue;
    font-family: "Arial Black";
    padding: 20px;
}
h5{
    position: relative;
    top:-80px;
    color: crimson;
    font-size: 18px;
    font-family: "Arial Black";
    margin-bottom: -40px;
}

.filmsLi{
    color: goldenrod;
    list-style-type: none;
    position: relative;
    margin-left: 20px;
    padding: 5px;
    font-size: 18px;
    font-family: "Arial Black";
    width: 170px;
}

.special{
    margin: 20px;
    position: relative;
    color: mediumspringgreen;
    left:1000px;
    top: -135px;
    line-height: 2;
}
.imageSize{
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
    padding-bottom: 0px;
}
.forPhotos{
    position: relative;
    left: 210px;
    top: -190px;
    color: crimson;
    text-indent: 20px;
    font-size: 18px;
    margin-bottom: 35px;
}
.stuffList{
    position: relative;
    top: -30px;
    padding-bottom: 40px;
}

.button{
    background-color:red;
    padding: 14px;
    font-family: "Impact";
    color: white;
    margin: 0px;
    text-decoration: none;
    position: relative;
    left:250px;
    bottom: 130px;
}
