
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100%;
    top:250px;
    left: 10px;
    background-color: black;
    color: whitesmoke;
    position: absolute;

}
main{
    padding: 0 70px;
    color: white;
    display: block;
    margin: 50px;
    align-content: center;

}

.firstescape-img{

    margin-left: 150px;
    margin-top: 0px;
    margin-right: 150px;
}
article{
    color: white;
    text-align: center;
    margin-left: 150px;
    margin-right: 250px;
    font-family: "Arial Black";
    margin-top: 20px;

}

.button{
    background-color:red;
    padding: 14px;
    font-family: "Impact";
    color: white;
   margin: 0px;
    text-decoration: none;
}
.links {
    float: left;
    margin-left: 150px;
    margin-right: 50px;
    width:220px;
    height:220px;
    border:0;
}
.popup{
    position: fixed;
    top:50%;
    margin: 0;
    padding:0;
}
.text {
    text-align: left;
}
.table-cases{
    margin-top: 150px;
    margin-left: 150px;
}
.case-image{
    margin-right: 0px;
    width:300px;
    height:240px;
}
h4{
    font-size: 12px;
}
.table-rating{
    border: #750707 3px solid;
    margin-top: 100px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
}
.stars{
    width:100px;
    height:50px;
}

td{
    border: #750707 3px solid;
}


